$primary = #ed5a73;
$development-color = #F9B967;
$link-color = #BA6DDB;

a {
    text-decoration: none;
}

.logo {
    width: 120px;
    margin-bottom: -5px;
    padding-left: 10px;
    cursor: pointer;
}

.v-content__wrap {
    background: white;
}

.v-tabs__slider {
    height: 3px;
}

.v-toolbar__items {
    //margin: 0 auto;
    color: white;

    .v-btn__content {
        color: white;
        font-size: 12px;
    }
}

.v-toolbar__title {
    // this is fixed so that it's removed from the content to align the nav in the middle correctly
    position: fixed;
    left: 15px;
}

nav.v-toolbar {
    background-color:rgba(0, 0, 0, 0)!important;
    &.navigation {
        background: url("../../assets/nav-bg.svg") no-repeat;
        background-color: #151030!important;
        background-size: cover;
    }
}

.v-toolbar__content {
    justify-content: center;
}

//.v-toolbar__extension {
//    padding: 0;
//    margin-bottom: -8px;
//    border-bottom: 1px solid #ccc;
//}

.blog-page {
    .v-tabs {
        margin-bottom: 4rem;
        border-bottom: 1px solid #ccc;
    }
}

.post {
    border-left: 3px solid $primary;
    padding-left: 1rem;

    &:not(:last-child) {
        margin-bottom: 4rem;
    }

    &__headline {
        line-height: 1.25;
        margin-bottom: 1rem;
    }

    &__category {
        text-transform: uppercase;
        font-weight: bold;
    }

    &__content {
        color: #7D7D7D;
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    &__meta {
        font-size: 12px;
    }
}