@import './variables.styl';

.page-enter-active, .page-leave-active {
    transition: all .25s ease-out;
}
.page-enter, .page-leave-active {
    opacity: 0;
    transform-origin: 50% 50%;
}

a {
    text-decoration: none;
}

.ba-0 {
    border: none!important;
}

.br-1 {
    border-right: 1px solid rgba(0,0,0,0.12);
}

.full-width {
    width: 100%;
    display: block;
}

hr {
    border: 1px solid lighten($primary, 70%);
}

.logo {
    width: 100px;
    margin-bottom: -5px;
    cursor: pointer;
}

.v-content__wrap {
    background: white;
}

.v-tabs__slider {
    height: 3px;
}

.v-toolbar__items {
    color: white;

    .v-btn__content {
        color: white;
        font-size: 12px;
    }
}

.v-toolbar__title {
    // this is fixed so that it's removed from the content to align the nav in the middle correctly
    position: fixed;
    left: 15px;
}

.intro {
    color: white;
    background: $secondary;
    background-image: url("../images/nav-bg.svg") no-repeat;
    background-image: url("../images/cloud-bg.svg");
    background-size: 100% 100%;
    //background-position: center top;
    padding-bottom: 3rem;
}

.companies {
    color: white;
    background: $secondary;
    background-image: url("../images/nav-bg.svg") no-repeat;
    background-image: url("../images/logo-bg.svg");
    background-size: 100% 100%;
    //background-position: center top;
    padding-bottom: 4rem;
}

nav.v-toolbar {
    background-color:rgba(0, 0, 0, 0)!important;
    &.navigation {
        background: #151030;
        background-image: url("../images/nav-bg.svg") no-repeat;
        background-image: url("../images/nav-bg.svg") , linear-gradient(0.25turn, #151030, $primary)!important;
        background-size: cover;

        .v-toolbar__title {
            left: 0;
        }

        .v-toolbar__content {
            padding: 0;
        }
    }
}

.v-toolbar__content {
    justify-content: center;
}

//.v-toolbar__extension {
//    padding: 0;
//    margin-bottom: -8px;
//    border-bottom: 1px solid #ccc;
//}

.blog-page {
    .v-tabs {
        border-bottom: 1px solid #ccc;
    }
}

.post-list-item {
    &__title {
        line-height: 1.25;
        margin-bottom: 1rem;
    }
    &__category {
        text-transform: uppercase;
        font-weight: bold;
    }
    &__content {
        color: #7D7D7D;
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
    &__meta {
        font-size: 12px;
        color: $secondary;
    }
}


.post-detail {
    &__title {
        line-height: 1.25;
        margin-bottom: 1rem;
        color: $primary;
    }
    &__category {
        text-transform: uppercase;
        font-weight: bold;
    }
    &__content {
        color: #7D7D7D;
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
    &__meta {
        font-size: 12px;
        color: $secondary;
    }
}


.intro-section {
    h1, h2 {
        color: $primary;
    }
}